body {
	padding: 100px;
}
.submit-area {
	margin-top: 50px;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #afafaf;
}
#transaction-area {
	display: none;
}

.deposit-area {
	background: slateblue;
	margin: 0 20px;
}
.Withdraw-area {
	background: lightsalmon;
	margin: 0 20px;
}
.Balance-area {
	background: orange;
	margin: 0 20px;
}
.status {
	padding: 20px;
	border-radius: 10px;
}
